body{
	background-image: url("airportbg.jpeg");
    background-position: center;
    background-size: cover;
}
#myCanvas
{
	border-width:10px;
	background-color: white; 
	border-style:ridge;
}

h1
{
    background-color: lavender;
    border-style: dotted;
    border-width: 0.2cm;
    border-color: purple;
}

h4{
    background: repeating-linear-gradient(yellow 0%, yellowgreen 50%, lime 100%);
}

h2{
    background: repeating-linear-gradient(cyan 0%, turquoise 25%, aquamarine 50%, lightseagreen 75%, seagreen 100%);
}